.container {
    width: 100%;
    height: 48px;
    display: flex;
}

.margins {
    margin-left: 5px;
    margin-bottom: 10px;
    display: flex;
}

.margins  .filters{
    width: 72%;
}
@media (max-width: 1344px) {
    .margins  .filters{
        width: 70%;
    }
}
@media (max-width: 1263px) {
    .margins  .filters{
        width: 68%;
    }
}
@media (max-width: 1200px) {
    .margins  .filters{
        width: 60%;
    }
}

@media (max-width: 991px) {
    .margins  .filters{
        width: 50%;
    }
}