tr{
    height: 50px;
}

.fade{
    height: 670px;
}
.e-schedule{
    height: 100%!important;
}
.e-table-container{
    height: 670px;
}
.e-date-header-wrap .e-schedule-table tbody{
    border: none;
}

.e-control, .e-schedule, .e-lib, .e-keyboard{

}

.e-toolbar-right{
    display: none!important;
}
.e-toolbar-left{
    margin-left: 40%;
}
.tab-content{
    height: 760px!important;
}
.scheduler-size .tab-content > .active {
    height: 760px !important;
}
.button-create-class {
    position: absolute;
    background-color: darkorange!important;
    box-shadow: none;
    border: none;
    margin-left: 89%;
    margin-top: 6px;
    color: white!important;
    border-radius: 0;
}
.button-create-class:hover{
    box-shadow: none;
}
.button-create-class:focus{
    box-shadow: none;
}

.modal-backdrop.show {
    width: 78.4%!important;
    margin-left: 18.65%!important;
    margin-top: 150px!important;
    height: 767px!important;
}

.modal-dialog {
    transform: none;
    margin-top: 200px;
    margin-left: 43.5%;
    width: 500px;
    font-size: 16px;
    height: auto!important;
}
.modal{
    height: auto;
}
.create-class-form{
    padding: 10px;
}
.create-class-form .row{
    margin-top: 10px;
}
.create-class-form .special-row{
    margin-top: 0;
}

.create-class-form .row .date-input{
    width: 170px;
}
.create-class-form .row .date-container{
    margin-left: auto;
    display: flex;
    width: 353px!important;
    justify-content: space-between;
}

.create-class-form .row .description-container{
    height: 100px;
}
.create-class-form .row input, textarea{
    margin-left: auto!important;
    width: 350px;
    border: 1px solid lightgray;
    box-shadow: none;
    overflow: hidden;
    padding-left: 5px;
    resize: none!important;
}
.form-button{
    background-color: darkorange!important;
    color: white!important;
    border-radius: 0;
}
.modal-header{
    background-color: darkorange;
    color: white!important;
}
.close{
    color: white;
}
.dropzone-container{
    width: 480px;
    height: 100px;
    border: dashed 1px lightgray;
    display: flex;
}

.dropzone-container p{
    display: flex;
    margin: auto;
    text-transform: uppercase ;
}